
.leaderboard-container {
  position: relative;
  min-height: 10vh;

  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  font-family: "Poppins", sans-serif;
}

.leaderboard-box {
  background: rgba(255, 255, 255, 0.9);
  padding: 40px;
  border-radius: 20px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
  width: 80%;
  max-width: 900px;
  text-align: center;
  z-index: 10;
}
.pagination-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
  gap: 12px;
}

.page-btn {
  padding: 8px 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

.page-btn:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.page-number {
  font-weight: bold;
  font-size: 16px;
}

.leaderboard-title {
  font-size: 2.5rem;
  color: #3d2200;
  margin-bottom: 20px;
}

.level-select {
  font-size: 1.1rem;
  padding: 8px 16px;
  margin-bottom: 20px;
  border-radius: 10px;
  border: 1px solid #ccc;
}

.leaderboard-table {
  width: 100%;
  border-collapse: collapse;
}

.leaderboard-table th,
.leaderboard-table td {
  padding: 14px;
  border-bottom: 1px solid #ddd;
  text-align: center;
  font-size: 1.1rem;
}

.leaderboard-table th {
  background: #fcbf49;
  color: #fff;
  text-transform: uppercase;
}

.leaderboard-table tr:nth-child(odd) {
  background: rgba(255, 255, 255, 0.7);
}

.leaderboard-table tr:nth-child(even) {
  background: rgba(255, 255, 255, 0.5);
}

.score-icon {
  color: gold;
  margin-right: 5px;
}

.back-btn {
    margin-top: 10px;
  background: #ffb84d;
  padding: 10px 18px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  color: #5a3a00;
  transition: 0.2s ease-in-out;
  
 
}
.button-group {
  flex-direction: row;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
  margin-top: 10px;
}
.profile-btn {
  margin-top: 10px;
  background: #ffb84d;
  padding: 10px 18px;
  border: none;
  border-radius: 15px;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  color: #5a3a00;
  transition: 0.2s ease-in-out;
}

.profile-btn:hover {
  background: #ffca74;
  transform: scale(1.05);
}


.back-btn:hover {
  background: #ffca74;
  transform: scale(1.05);
}

.cloud {
  position: absolute;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 50%;
  filter: blur(15px);
}

.cloud-1 {
  width: 200px;
  height: 60px;
  top: 10%;
  left: 10%;
  animation: floatCloud1 30s linear infinite;
}

.cloud-2 {
  width: 250px;
  height: 70px;
  bottom: 15%;
  right: 15%;
  animation: floatCloud2 40s linear infinite;
}

@keyframes floatCloud1 {
  0% { transform: translateX(0); }
  100% { transform: translateX(100vw); }
}

@keyframes floatCloud2 {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100vw); }
}
